li {
	background-color: yellow;
}

ol li:nth-child(2n) {
	color: green;
}

ol li:nth-child(2n+1) {
	text-transform: uppercase;
}

ul li:nth-child(2n) ,ul li:nth-child(2n) a:nth-child(1) {
	text-decoration: none;
	color: green;
}

ul li:nth-child(2n+1) ,ul li:nth-child(2n+1) a:nth-child(1) {
	text-decoration: none;
	text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
	color: red;	
}

h1 em,h2 em,h3 em,h4 em, h5 em, h6 em{
	font-size: 40px;
	border: 1px solid black;
}

li {
	font-size: 20px;
}

li em{
	font-weight: bold;
}

body ul:first-of-type li:nth-of-type(-n+3){
	color: blue;
}

#java {
	background-color: pink;
}

body ul:nth-of-type(2) li a:hover {
	color: red;
	font-weight: bold;
}





