h1 {
    font-size: 3em;
    color: orange;
    font-family: sans-serif;
  }
  p, ul {
    background-color: orange;
  }

  p{
    font-weight: 600;
  }

  body{
    font-size: 16px;
  }

  ul {
    background-color: yellow;
  }
  
  #vermelho {
    background-color: red;
  }

  #amarelo {
    background-color: yellow;  
  }

  #marrom {
    background-color: brown;
  }